<spinner *ngIf="loading" />
<table *ngIf="!loading" class="min-w-full divide-y divide-gray-200">
  <thead>
    <tr>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Symbol</th>
      <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase w-30">Price</th>
      <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase w-30">Prev. Close Price</th>
      <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase w-30">Open Price</th>
      <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">Volume</th>
      <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">Change (%)</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <tr *ngFor="let item of filteredData">
      <td class="px-6 py-4 whitespace-nowrap font-medium text-lg">{{ item.symbol }}</td>
      <td class="px-6 py-4 whitespace-nowrap text-right font-mono">{{ item.lastPrice | currency }}</td>
      <td class="px-6 py-4 whitespace-nowrap text-right font-mono">{{ item.prevClosePrice | currency }}</td>
      <td class="px-6 py-4 whitespace-nowrap text-right font-mono">{{ item.openPrice | currency }}</td>
      <td class="px-6 py-4 whitespace-nowrap text-right font-mono">{{ item.volume | number: '1.2-2' }}</td>
      <td class="px-6 py-4 whitespace-nowrap text-right font-mono">
        <span [ngClass]="item.priceChangePercent >= 0 ? 'text-green-500' : 'text-red-500'">{{ item.priceChangePercent }}%</span>
      </td>
    </tr>
  </tbody>
</table>
