<table class="min-w-full divide-y divide-gray-200">
  <thead>
    <tr>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Symbol</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Price</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Volume</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Change (%)</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <tr *ngFor="let item of filteredData">
      <td class="px-6 py-4 whitespace-nowrap">{{ item.symbol }}</td>
      <td class="px-6 py-4 whitespace-nowrap">{{ item.lastPrice }}</td>
      <td class="px-6 py-4 whitespace-nowrap">{{ item.volume }}</td>
      <td class="px-6 py-4 whitespace-nowrap">{{ item.priceChangePercent }}%</td>
    </tr>
  </tbody>
</table>
