<div class="fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center" aria-modal="true" *ngIf="isVisible">
  <div class="bg-white dark:bg-gray-800 w-96 rounded-lg p-6 shadow-lg">
    <h3 class="text-xl font-semibold mb-4">Filter Options</h3>

    <form (ngSubmit)="applyFilters()">
      <!-- Trade Volume -->
      <div class="mb-4">
        <label for="volume" class="block text-gray-700 dark:text-gray-200">Volume</label>
        <div class="flex">
          <input #minVolume type="number" name="minVolume" [(ngModel)]="filters.minVolume"
                 (change)="updateFilters()" (keypress)="updateFilters()"
                 placeholder="Min" class="w-1/2 border border-r-0 p-2 rounded-l-sm focus:outline-none" />
          <input #maxVolume type="number" name="maxVolume" [(ngModel)]="filters.maxVolume"
                 (change)="updateFilters()" (keypress)="updateFilters()"
                 placeholder="Max" class="w-1/2 border p-2 rounded-r-sm focus:outline-none" />
        </div>
      </div>

      <!-- Price Change -->
      <div class="mb-4">
        <label for="priceChange" class="block text-gray-700 dark:text-gray-200">Price Change (%)</label>
        <div class="flex">
          <input #minPriceChange type="number" name="minPriceChange" [(ngModel)]="filters.minPriceChange"
                 (change)="updateFilters()" (keypress)="updateFilters()"
                 placeholder="Min" class="w-1/2 border border-r-0 p-2 rounded-l-sm focus:outline-none" />
          <input #maxPriceChange type="number" name="maxPriceChange" [(ngModel)]="filters.maxPriceChange"
                 (change)="updateFilters()" (keypress)="updateFilters()"
                 placeholder="Max" class="w-1/2 border p-2 rounded-r-sm focus:outline-none" />
        </div>
      </div>

      <!-- Price Range -->
      <div class="mb-4">
        <label for="priceRange" class="block text-gray-700 dark:text-gray-200">Price</label>
        <div class="flex">
          <input #minPrice type="number" name="minPrice" [(ngModel)]="filters.minPrice"
                 (change)="updateFilters()" (keypress)="updateFilters()"
                 placeholder="Min" class="w-1/2 border border-r-0 p-2 rounded-l-sm focus:outline-none" />
          <input #maxPrice type="number" name="maxPrice" [(ngModel)]="filters.maxPrice"
                 (change)="updateFilters()" (keypress)="updateFilters()"
                 placeholder="Max" class="w-1/2 border p-2 rounded-r-sm focus:outline-none" />
        </div>
      </div>

      <!-- Action Buttons -->
      <div class="flex justify-between space-x-2 mt-6">
        <div class="pt-2">
          <span *ngIf="isFiltersActive" class="text-gray-700">{{ message }}</span>
        </div>
        <div class="flex justify-end space-x-2">
          <button type="submit" (click)="closeModal()"
                  class="bg-gray-100 px-4 py-2 rounded-sm focsm:outline-none hover:bg-gray-200">
            Close
          </button>
          <button type="submit" (click)="clearFilters()"
                  class="bg-gray-500 text-white px-4 py-2 rounded-sm focsm:outline-none hover:bg-gray-600">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
